<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-auto" style="color: white;font-style: italic">thiccthocc</a>
  <div class="container" id="navbarColor02">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="record">Record</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="users">Users</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<!--<div *ngFor="let user of users">-->
<!--  <div>{{user.username}}</div>-->
<!--</div>-->
