<div *ngIf="user" class="main-div">{{user.username}}</div>
<div *ngIf="user" class="container">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{user.profilePictureUrl}}" alt="Admin" class="rounded-circle"
                     width="150">
                <div class="mt-3">
                  <h4>{{user.username}}</h4>
                  <p class="text-secondary mb-1">Description</p>
                  <p class="text-muted font-size-sm">Blabla</p>
                  <!--                  <button class="btn btn-primary">Follow</button>-->
                  <!--                  <button class="btn btn-outline-primary">Message</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  TBD
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  TBD
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  TBD
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  TBD
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info " href="/user/profile/{{user.username}}/edit">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <div class="card mb-3 mt-3 h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Keyboard
                  Profiles</i></h6>
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                    <tr>
                      <th scope="col"><span>Keyboard Profile Name</span></th>
                      <th scope="col"><span>View/Edit</span></th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let keyboardProfile of keyboardProfiles">
                      <tr>
                        <td scope="row">
                          <img src={{user.profilePictureUrl}} alt="">
                          <a href="/keyboardprofile/{{keyboardProfile.keyboardProfileId}}"
                             class="user-link">{{keyboardProfile.profileName}}</a>
                        </td>
                        <td>
                          <span>In the future, you will be able to view the profile!</span>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-3 d-md-flex justify-content-md-end text-center">
        <a href="/user/profile/{{user.username}}/edit" type="button" class="btn btn-primary btn-lg">Edit Profile</a>
      </div>
    </div>
  </div>
</div>
